---
const { name1, name2, imagen, link } = Astro.props;
---

<button class="button flex items-center">
  <img src={imagen} alt={imagen} width="32" height="32" class="icono-blanco" />
  <a href={link} target="_blank">
    <div class="flex flex-col items-center justify-center font-bold">
      <h3>{name1}</h3>
      <h3>{name2}</h3>
    </div>
  </a>
</button>

<style>
  /* From Uiverse.io by Yaya12085 */
  .button {
    width: fit-content;
    display: flex;
    padding: 1.2em 1rem;
    cursor: pointer;
    gap: 0.4rem;
    font-weight: bold;
    border-radius: 30px;
    background-color: #b5985c;
    /* background: linear-gradient(
        15deg,
        #880088,
        #aa2068,
        #cc3f47,
        #de6f3d,
        #f09f33,
        #de6f3d,
        #cc3f47,
        #aa2068,
        #880088
      )
     */
    background-size: 300%;
    color: #fff;
    border: none;
    background-position: left center;
    box-shadow: 0 30px 10px -20px rgba(0, 0, 0, 0.2);
  }

  .button:hover {
    background-size: 320%;
    background-position: right center;
  }

  .button:hover svg {
    fill: #fff;
  }

  .button svg {
    width: 23px;
    fill: #f09f33;
    transition: 0.3s ease;
  }
  .icono-blanco {
    filter: brightness(0) invert(1);
  }
</style>
